*,
*::before,
*::after {
  box-sizing: border-box;
}
fieldset{
  border: none;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  align-items: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 225px;
  height: 27px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  vertical-align: middle; 
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 0;
  text-align: center;
  width: 100%;
  font-family: inherit;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__label:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff; 
  background-position: center;
  margin: 1px 0 0 1px;
} 

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 6px; 
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y: auto;
  position: relative;
  block-size: 300px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 21px;
  inline-size: 100%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  max-width: 200px;
  gap: 6px;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}
  
.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}